@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-white md:bg-background text-[14px] sm:text-[16px];
}

@layer base {
  :root {
    --sidebar: 250px;
    --header: 100px;

    --background: #f5f7fa;
    --accent: #232323;
    --background-hover: #edf1f7;
    --text: #718ebf;
    --text-accent: #343c6a;
    --text-input: #8ba3cb;
    --green: #41d4a8;
    --red: #ff4b4a;
    --border: #e6eff5;
    --border-accent: #dfeaf2;
    --line: #f3f3f5;
    --dashed-line: #dfe5ee;
    --inactive: #b6bac0;
    /* I have slightly changed inactive color to better fit color scheme of the site */
    --blue: #396aff;
    --deep-blue: #1814f3;
    --dark-blue: #343c6a;
    --teal: #16dbcc;
    --orange: #fc7900;
    --yellow: #ffbb38;

    --card-gradient: linear-gradient(107.38deg, #5b5a6f 2.61%, #000000 101.2%);
    --card-gradient-bottom: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    --shadow: 4px 4px 18px -2px rgba(231, 228, 232, 0.8);
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
